<div class="article_container">
  <h1><%= @article.title %></h1>

  <div class="well">
    <%= @article.text %>
  </div>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to icon('arrow-left'), articles_path, class: "btn btn-default" %>
    <%= link_to icon('pencil'), edit_article_path(@article), class: "btn btn-default" %>
  </div>
</div>
