<div class="windows-app internet" windows-app-open="internet">
  <%= image_tag("icons/internet.gif", class: "icon col-lg-12") %>
  <span class="col-lg-12">Internet Explorer</span>
</div>
<div class="windows-app buscaminas" windows-app-open="buscaminas">
  <%= image_tag("icons/kmines.gif", class: "icon col-lg-12") %>
  <span class="col-lg-12">KMines</span>
</div>
