<div class="windows-app internet" windows-type="internet">
  <%= image_tag("icons/internet.gif", class: "icon col-lg-12") %>
  <span class="col-lg-12">Internet Explorer</span>
</div>

<div class="window formUserWindow windows-resizable">
  <div class="header">
    <%= image_tag("icons/internet.gif", class: "icon") %>
    Internet Explorer.exe
    <div class="buttons">
      <button class="min">_</button>
      <button class="max">☐</button>
      <button class="close">X</button>
    </div>
  </div>
  <div class="content">
    <div class="internet-search">
      <input type="text" class="text col-lg-10" value="https://www.google.com.mx/">
      <button type="button" name="button">Buscar</button>
    </div>
    <iframe src="http://dialectrix.com/google.html"></iframe>
  </div>
</div>
