@import "variables";

.article_comments {
    padding: 7px !important;

    .user-avatar-thumb {
      border: 1px solid $color-blog-4;
      border-radius: 50%;
      display: inline-block;
      width: 55px;
    }
}
