// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-form-1: #2D2D2D;
$color-form-2: rgba(45, 45, 45, 0.75);
$color-form-3: #A6995B;

.singup-avatar-preview {
  background-image: url("user-icon.png");
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 10px auto;
  width: 100px;
  height: 100px;
}

.singup-avatar-input {
  color: #fff;
  border-radius: 3px;
  padding: 8px 5px;
  margin: 0 auto;
  background: rgba(45, 45, 45, 0.75);
}
